<!DOCTYPE html>
<html>
<head>
	<title>AR GAME</title>
	<meta charset="utf-8" />
</head>
<body>
	<h1 id="info">Please allow this page to access your camera.</h1>

<!-- 	<div id="notSupported">
		<h1>Your browser does not support the Camera API.</h1>
	</div> -->

	<pre id="placeholder"></pre>
    <div id="vid">
    </div>
	<button id="pause">pause / resume</button>

	<script src="http://code.jquery.com/jquery-2.0.3.js"></script>
	<script src="/../static/js/jsfeat.js"></script>
	<script src="/../static/js/jsfeat_struct.js"></script>
	<!-- <script src="/../static/js/jsfeat_bbf.js"></script> -->
	<script src="/../static/js/jsfeat_cache.js"></script>
	<script src="/../static/js/jsfeat_export.js"></script>
	<script src="/../static/js/jsfeat_linalg.js"></script>
	<script src="/../static/js/jsfeat_mat_math.js"></script>
	<script src="/../static/js/jsfeat_motion_estimator.js"></script>
	<script src="/../static/js/jsfeat_cache.js"></script>
	<script src="/../static/js/jsfeat_imgproc.js"></script>
	<script src="/../static/js/jsfeat_yape06.js"></script>
	<script src="/../static/js/camera.js"></script>
	<!-- <script src="/../static/js/find_color_on_canvas.js"></script> -->
	<script src="/../static/js/app.js"></script>
	<script src="/../static/js/thing.js"></script>

</body>
</html>