<!DOCTYPE html>
<html>
<head>
	<title>AR GAME</title>
	<meta charset="utf-8" />
</head>
<body>
	<h1 id="info">Please allow this page to access your camera.</h1>

<!-- 	<div id="notSupported">
		<h1>Your browser does not support the Camera API.</h1>
	</div> -->

    <div id="vid">
    </div>
	<button id="pause" type="hidden">pause / resume</button>

	<script src="http://code.jquery.com/jquery-2.0.3.js"></script>
	<script src="/../static/js/cv.js"></script>
	<script src="/../static/js/aruco.js"></script>
	<script src="/../static/js/svd.js"></script>
	<script src="/../static/js/pos.js"></script>
	<script src="/../static/js/three.min.js"></script>
	<script src="/../static/js/camera.js"></script>
	<script src="/../static/js/app.js"></script>

</body>
</html>