<!DOCTYPE html>
<html>
<head>
	<title>AR GAME</title>
	<meta charset="utf-8" />
</head>
<body>
	<canvas id="canvas" width=900 height=600></canvas>
	<script>
	// 70x70
	var canvas = document.getElementById("canvas");
	var ctx = canvas.getContext("2d");
	ctx.fillRect(10, 10, 70, 10);
	ctx.fillRect(10, 20, 10, 60);
	ctx.fillRect(70, 20, 10, 60);
	ctx.fillRect(20, 70, 50, 10);
	ctx.fillRect(20, 20, 10, 40);
	ctx.fillRect(30, 60, 10, 10);
	ctx.fillRect(40, 40, 20, 20);
	ctx.fillRect(60, 20, 10, 20);
	</script>
</body>
</html>