<!DOCTYPE html>
<html>
<head>
	<title>AR GAME</title>
	<meta charset="utf-8" />
</head>
<body>
	<canvas id="canvas" width=900 height=900></canvas>
	<script>
	// 70x70
	var canvas = document.getElementById("canvas");
	var ctx = canvas.getContext("2d");
	var offX = 10;
	var offY = 10;
	var scale = 40;
	//top
	ctx.fillRect(offX, offY, scale * 7, scale);
	//bottom
	ctx.fillRect(offX, offY + scale * 6, scale * 7, scale);
	//left
	ctx.fillRect(offX, offY + scale, scale, scale * 5);
	//right
	ctx.fillRect(offX + scale * 6, offY + scale, scale, scale * 5);
	//bwwwb row2
	ctx.fillRect(offX + scale, offY + scale, scale, scale);
	ctx.fillRect(offX + scale * 5, offY + scale, scale, scale);
	//bwwwb row3
	ctx.fillRect(offX + scale, offY + scale * 2, scale, scale);
	ctx.fillRect(offX + scale * 5, offY + scale * 2, scale, scale);
	//bwbbw row4
	ctx.fillRect(offX + scale, offY + scale * 3, scale, scale);
	ctx.fillRect(offX + scale * 3, offY + scale * 3, scale * 2, scale);
	//bwbbw row5
	ctx.fillRect(offX + scale, offY + scale * 4, scale, scale);
	ctx.fillRect(offX + scale * 3, offY + scale * 4, scale * 2, scale);
	//wbwww row 6
	ctx.fillRect(offX + scale * 2, offY + scale * 5, scale, scale);

	offX = 10;
	offY = 400;
	//top
	ctx.fillRect(offX, offY, scale * 7, scale);
	//bottom
	ctx.fillRect(offX, offY + scale * 6, scale * 7, scale);
	//left
	ctx.fillRect(offX, offY + scale, scale, scale * 5);
	//right
	ctx.fillRect(offX + scale * 6, offY + scale, scale, scale * 5);
	//bwwwb row2
	ctx.fillRect(offX + scale, offY + scale, scale, scale);
	ctx.fillRect(offX + scale * 5, offY + scale, scale, scale);
	//bbbbw row3
	ctx.fillRect(offX + scale, offY + scale * 2, scale * 4, scale);
	//bbbbw row4
	ctx.fillRect(offX + scale, offY + scale * 3, scale * 4, scale);
	// //bwwwb row5
	ctx.fillRect(offX + scale, offY + scale * 4, scale, scale);
	ctx.fillRect(offX + scale * 5, offY + scale * 4, scale, scale);
	// //bwwwb row 6
	ctx.fillRect(offX + scale, offY + scale * 5, scale, scale);
	ctx.fillRect(offX + scale * 5, offY + scale * 5, scale, scale);
	</script>
</body>
</html>